.skills-container {
  padding: 2rem 4rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  text-align: center;
  background: linear-gradient(rgb(255, 255, 255),#aaaaaa);
  
}
.skill {
  flex: 1;
  padding: 2rem;
  color: #1f2235;
  background-color: #fff;
}

.skills-container .skill i {
  color: #24263B;
  font-size: 3rem;
}
.skill-header {
  color: var(--dark-orange);
  font-weight: bold;
  margin-bottom: 2rem;
}
.skill p {
  font-size: 0.9rem;
}

@media screen and (max-width: 900px){
    .skills-container{
        flex-direction: column;
    }
}
